* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  font-family: 'Gothic Medium'
}

@font-face {
  font-family: 'Gotham Medium';
  src: url(./fonts/gotham-medium.ttf);
}

@font-face {
  font-family: 'Gotham Light';
  src: url(./fonts/gotham-light.ttf);
}

@font-face {
  font-family: 'Gotham Book';
  src: url(./fonts/gotham-book.ttf);
}

table.raw {
  font-family: monospace;
  border-collapse: collapse;
}

table.raw td {
  padding: 5px;
  border: 1px solid #ccc;
}